.App {
  text-align: center;
}

h1 {
  width: 100%;
  position: relative;
}

h1 div {
  position: absolute;
  right: 25px;
  top: 0;
}

.submit {
  margin: 15px;
}
.error {
  max-width: 200px;
  padding: 15px;
  margin: 15px auto;
  border: 1px solid red;
}
